 @mixin flexprop(){
         display: flex;
        flex-direction: column;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


body{
  overflow-x: hidden;
  
}

header  nav{
  h4{
    font-size: 20px;
  }
   
 
  max-width: 100%;
   display: flex;
   justify-content: space-around;
   padding: 30px;

   h1{
    font-size: 40px;
    font-weight: 900;
   }
 
     
   ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

   }
   li{
    list-style: none;
   }
   a{
    text-decoration: none;
    color: black;
    font-size: 20px;
   }

  }
 .rightarrival{
  .card{
    margin-right: 150px;
     img{
       mix-blend-mode: darken;
     }
  }
 }


.sec2 {
    display: grid;
    justify-content: baseline;
   max-width: 100%;
  height: 500px;
  background: url(/photo-collage.png.png)no-repeat center center/cover;
 
     .headimg{
        color: white;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        font-size: 50px;
        margin-top: 200px;
      
     }
     a{
        color: white;
        margin-left: 40px;
     }
}

.sec3{
    height: 98vh;
    display:flex;
   
   

    .card{
         
        display: flex;
       margin-left: 300px;
          gap: 50px ;


        

        .card1{
               
                 
                  margin-top: 35px;
                    &:hover{
                    transform: scale(1.1,1.1);  
                   
                    }
                    
                   
                    img{
                      height: 320px;
                      max-width: 500px;
                      margin-top: 80px;

                     
                    }
                  h4{
                    margin-top: 5px;
                    margin-left: 20px;
                  }  
        }
        .card2{
            margin-top: 35px;
            
    
                &:hover{
                    transform: scale(1.1,1.1);  
                   
                    }
                      img{
                      height: 320px;
                         max-width: 500px;
                          margin-top: 80px; 
                    }
                     h4{
                    margin-top: 0px;
                    margin-left: 20px;

                  }  
        }
    }

    h1{
       position: relative;
       left: 40px;
       top: 40px;
       
       font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 300;
    }
    a{
         position: relative;
       left: 40px;
       top: 50px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
    }
}

  .sec4{
    background-color: #F4EBD0;

    .fourth1{
      display: flex;
       
      img{
        height: 700px;
        max-width: 700px;
      
      
      }
      .left4{
          position:sticky;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 80px;
        gap: 50px;
      }
      h1{
        font-size: 60px;
      }
      p{
        font-size: 30px;
      }
      a{
        font-size: 20px;
      }
    }
  }

   .sec6{
    height: 90vh;
    background: url(/glasses\ image\ -\ juno\ collection.webp)no-repeat center center/cover;

      .sixth1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: aliceblue;
        gap: 20px;
        padding-top: 130px;

        h1{
          font-family: Arial, Helvetica, sans-serif;
          font-size: 80px;
        }
        h2{
          font-size: 50px;
          font-family: 'Times New Roman', Times, serif;
        }
        h3{
          font-size: 30px;
        }

      }
   }

   .fifth1{
    display: flex;
    justify-content: space-between;
    background-color: #f4f3f0;

    img{
      height: 502px;
      min-width: 600px;
      padding: 20px;
    }

    .right{
      padding-top: 50px;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      gap: 100px;

      h1{
        font-size: 40px;
        span{
          font-weight: 700;
        }
      }

      p{
        margin-top: 50px;
        line-height: 25px;
        font-size: 20px;
      }
    }

    .Lfifth{
      display: flex;
      gap: 70px;
      line-height: 25px;
      span{
        font-weight: 800;
      }
      ul{
        list-style: none;
        font-size: 20px;
      }
    }
     
   }



  
.slfoot{
  display: flex;
  justify-content: space-around;
  background-color: rgba(245,204,47,1);
  
  img{
    height: 100vh;
    padding: 15px;
  }

  .lside{
      display: flex;
      flex-direction: column;
      gap: 180px;

      h1{
        font-size: 40px;
        padding-top: 50px;
        padding-left: 30px;
      }

      .look{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-left:30px ;
      }
      h2{
        font-size:40px ;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      a{
        color: black;
      }
  }
 
}
.suncard{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#sun{
  margin-bottom: 100px;
}


// footer//


#ft{  
       background-color: #F4EBD0; 
       animation: foot 3s ease-in 0s linear;
      
      .end{
        display: flex;
        justify-content: space-between;
      }
     
  
}

.footer{
      display: flex;
      justify-content: space-around;
      padding-top: 100px;
      height: 100vh;
    

      .leftside{
        display: flex;
        flex-direction: column;
        gap: 50px;

        label{
          position: relative;
          bottom: 20px;
        }

        h1{
          font-size: 70px;
          color: #000000;
        }
        h3{
          font-size: 40px;
        }
        p{
          position: relative;
          bottom: 40px;
        }

        #check{
          margin-top: 10px;
        }

        a{
          text-decoration: none;
          margin-left: 200px;
          border: 1px solid black;
          padding:8px 50px;
          position: relative;
          top: 20px;
        }
  }
    .email{
          padding-bottom: 30px;
        }


      .rightside{
         @include flexprop();
        gap: 50px;
      }
      ul{
         @include flexprop();
        gap: 10px;
      }

      .firstlist{
        display: flex;
        gap: 100px ;

        li{
          list-style: none;
        }
      }
      .secondlist{
         display: flex;
        gap: 100px ;

         li{
          list-style: square;
        }
      }
}
.end{
  height: 10vh;
  margin-top: 30px;
}

// new arriavlas

.newarrival{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;

  .card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 100px;
    top: 100px;
    display: flex;
    gap: 30px;
    img{
      height: 400px;
    max-width: 600px;
    }
  }

  .leftarrival{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 20px;

    

    ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 30px;
      border-top:1px solid black
    }
  }

  .price{
    display:flex;
    justify-content:space-between ;
  }
  .rightarrival{
    display: flex;
    gap: 50px;
    
    h1{
      position: relative ;
      top: 80px;
      left: 10px;
    }
     .cart{
      text-decoration: none;
      border: 1px solid black;
      padding: 4px;
      position: relative;
      top: 10px;
      
     }
  }
  
}

 .cart{
  display: flex;
  justify-content: space-around;


  .rightcart{
    display: flex;
    flex-direction:column ;
    margin-top: 40px;
    gap: 40px;

    h1{
      font-size: 50px;
    }
    h2{
      font-size: 30px;
    }
    h4{
      font-size: 35px;
    }
    p{
      font-size: 20px;
    }
  }
  img{
    height: 600px;
    margin-top: 50px;
    margin-left: 80px;
   
  }
   h6{
      font-size: 30px;
      margin-left: 80px;
      margin-bottom: 40px;
      text-shadow: #000000;
    }
 }


 //gift card//
    
 .giftcard{
  display: flex;
  justify-content: space-around;
   background-color: #f4f3ef; 

   h1{
    font-size: 50px;
    
   }
   h2{
    font-size:30px;
     opacity: .7;
   }
    p{
      font-size: 20px;
      opacity: .7;
    }
  img{
    height: 400px;
    max-width: 600px;
    margin-top: 70px;
    margin-right: 70px;


  }

 }
  

 .giftright{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .quan{
   display: flex;
  max-width: 20%;
   font-size: 30px;
   justify-content: space-evenly;
   border: 1px solid black;
  
  }
  .blog{
    display: flex;
    justify-content: space-evenly;

    .btn1{
      font-size: 20px;
      border: 1px solid black;
      padding: 15px;
      margin-right: 120px
    }
  }
  .Form{
    display: flex;
    flex-direction: column;
    label{
      font-size: 20px;
        opacity: .7;
    }
    input{
      padding: 10px;
    
    }
    .buybtn{
      padding: 10px;
      font-size: 30px;
      background-color: #312A27;
      color: white;
      
    }
  }
 }

 .gcard{
  display: flex;
  span{
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 20px;
  }
 }
 .gcard1{
  height: 50px;
  max-width: 60px;
  border: 1px solid black;
 }


 .login{
  background: url(/images/bg.png)no-repeat center center/cover;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 text-align: center;
 gap: 30px;

     h1{
      font-size: 40px;
     }

    label{
      font-size: 30px;
        
    }
    input{
      font-size: 30px;
      &:hover{
        color: white;
        background-color: aqua;
      }
    }
    #dog{
      border-radius: 30px;
      padding: 10px;
      &:hover{
        color: white;
        background-color: aqua;
      }
    }
 }


 .cart{
  background-color: #f1f0ee;
  padding-top: 50px;
  padding-bottom: 60px;
  gap: 30px ;

  h4{
    font-size: 30px;
  }
   .cartleft{
    display: flex;
    border: 1px solid black;
    box-shadow: 10px 20px 20px #9d9681;
        img{
          max-width: 150px;
          height: 150px;
          position: relative;
          top: 100px;
          right: 40px;
        }

   }
  
 }

 .cartleftone{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;

  h3{
    border-bottom: 2px solid black;
  }
 }

 .cartlefttwo{
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
  position: relative;
  top: 0px;

   h3{
    font-size: 30px
   }
 }

 .cartright{
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   box-shadow: 10px 20px 20px #8b805c;;
   gap: 15px;
   height: 300px;
   padding: 20px;

   .cartright1{
    display: flex;
    padding: 20px;
    gap: 40px;



    .right1{
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 10px;  
      margin-bottom: 20px;


      h1{
        border-bottom: 2px solid black;
      }
    }
    .right2{
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 10px;
    
      
    }

   
   }
    .btm{
            display: flex;
            gap:15px;
            margin-top: 50px;
            border: 1px solid black;
            padding: 20px;

    }

 }

 .checkout{
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  background-color: #11DAAC;
 }
 #bar{
  color: black;
 }

#click{
    display: none;
}
#bar{
    display: none;
}

 @media screen and (max-width:768px) {
   
  
  #bar{
    display: block;
}
.cart{
  img{
    max-width: 500px;
    height: 400px;
    align-items: center;
  }
  .rightcart{
  text-align: center;
}
}     
 #allproducts nav  ul a{
        display: none;
    }
     #allproducts nav   a{
        display: none;
    }
    .footer{
      height: 200vh;
      flex-direction: column;
      position: relative;
    
    }
   .slfoot{
    flex-direction: column  ;
   max-width: 93%;
   }
   .fifth1{
    flex-direction: column;
   }
  .sec4 .fourth1{
      display: flex;
      flex-direction: column;
    }
    .sec3 .card{
      display: flex;
      flex-direction: column;
    }
    .giftcard{
      flex-direction: column;
      padding-left: 50px;
    }

    .cart{
      flex-direction: column;
      padding-bottom: 100px;
    }
}


@media screen and (max-width:426px){
 #bar{
    display: block;
}
.cart{
  img{
    max-width: 200px;
    height: 200px;
    align-items: center;
  }
  .rightcart{
  text-align: center;
}
}     
  #allproducts nav  ul a{
        display: none;
    }
    .footer{
      flex-direction: column;
    }
    .cart{
      flex-direction: column;
      padding-bottom: 200px;
    }
    .cartleft{
      flex-direction: column;
    }
   .giftcard{
     img{
      max-width: 300px;
      height: 200px;
      padding-right: 50px;
     }
     .blog{
      flex-direction: column;
     }
   }
   
    
}